/*.icon-blank{*/
	/*background:url('icons/blank.gif') no-repeat center center;*/
/*}*/
/*.icon-add{*/
	/*background:url('icons/edit_add.png') no-repeat center center;*/
/*}*/
/*.icon-edit{*/
	/*background:url('icons/pencil.png') no-repeat center center;*/
/*}*/
/*.icon-remove{*/
	/*background:url('icons/edit_remove.png') no-repeat center center;*/
/*}*/
/*.icon-save{*/
	/*background:url('icons/filesave.png') no-repeat center center;*/
/*}*/
/*.icon-save-as {*/
    /*background:url('icons/save_as.png') no-repeat center center;*/
/*}*/
/*.icon-cut{*/
	/*background:url('icons/cut.png') no-repeat center center;*/
/*}*/
/*.icon-ok{*/
	/*background:url('icons/ok.png') no-repeat center center;*/
/*}*/
/*.icon-no{*/
	/*background:url('icons/no.png') no-repeat center center;*/
/*}*/
/*.icon-cancel{*/
	/*background:url('icons/cancel.png') no-repeat center center;*/
/*}*/
/*.icon-reload{*/
	/*background:url('icons/reload.png') no-repeat center center;*/
/*}*/
/*.icon-search{*/
	/*background:url('icons/search.png') no-repeat center center;*/
/*}*/
/*.icon-print{*/
	/*background:url('icons/print.png') no-repeat center center;*/
/*}*/
/*.icon-help{*/
	/*background:url('icons/help.png') no-repeat center center;*/
/*}*/
/*.icon-undo{*/
	/*background:url('icons/undo.png') no-repeat center center;*/
/*}*/
/*.icon-redo{*/
	/*background:url('icons/redo.png') no-repeat center center;*/
/*}*/
/*.icon-back{*/
	/*background:url('icons/back.png') no-repeat center center;*/
/*}*/
/*.icon-sum{*/
	/*background:url('icons/sum.png') no-repeat center center;*/
/*}*/
/*.icon-tip{*/
	/*background:url('icons/tip.png') no-repeat center center;*/
/*}*/

/*.icon-mini-add{*/
	/*background:url('icons/mini_add.png') no-repeat center center;*/
/*}*/
/*.icon-mini-edit{*/
	/*background:url('icons/mini_edit.png') no-repeat center center;*/
/*}*/
/*.icon-mini-refresh{*/
	/*background:url('icons/mini_refresh.png') no-repeat center center;*/
/*}*/

/*1.3.6*/
/*.icon-blank{*/
    /*background:url('icons/blank.gif') no-repeat center center;*/
/*}*/
/*.icon-add{*/
    /*background:url('icons/edit_add.png') no-repeat center center;*/
/*}*/
/*.icon-edit{*/
    /*background:url('icons/pencil.png') no-repeat center center;*/
/*}*/
/*.icon-remove{*/
    /*background:url('icons/edit_remove.png') no-repeat center center;*/
/*}*/
/*.icon-save{*/
    /*background:url('icons/filesave.png') no-repeat center center;*/
/*}*/
/*.icon-cut{*/
    /*background:url('icons/cut.png') no-repeat center center;*/
/*}*/
/*.icon-ok{*/
    /*background:url('icons/ok.png') no-repeat center center;*/
/*}*/
/*.icon-no{*/
    /*background:url('icons/no.png') no-repeat center center;*/
/*}*/
/*.icon-cancel{*/
    /*background:url('icons/cancel.png') no-repeat center center;*/
/*}*/
/*.icon-reload{*/
    /*background:url('icons/reload.png') no-repeat center center;*/
/*}*/
/*.icon-search{*/
    /*background:url('icons/search.png') no-repeat center center;*/
/*}*/
/*.icon-print{*/
    /*background:url('icons/print.png') no-repeat center center;*/
/*}*/
/*.icon-help{*/
    /*background:url('icons/help.png') no-repeat center center;*/
/*}*/
/*.icon-undo{*/
    /*background:url('icons/undo.png') no-repeat center center;*/
/*}*/
/*.icon-redo{*/
    /*background:url('icons/redo.png') no-repeat center center;*/
/*}*/
/*.icon-back{*/
    /*background:url('icons/back.png') no-repeat center center;*/
/*}*/
/*.icon-sum{*/
    /*background:url('icons/sum.png') no-repeat center center;*/
/*}*/
/*.icon-tip{*/
    /*background:url('icons/tip.png') no-repeat center center;*/
/*}*/
/*.icon-filter{*/
    /*background:url('icons/filter.png') no-repeat center center;*/
/*}*/


/*.icon-mini-add{*/
    /*background:url('icons/mini_add.png') no-repeat center center;*/
/*}*/
/*.icon-mini-edit{*/
    /*background:url('icons/mini_edit.png') no-repeat center center;*/
/*}*/
/*.icon-mini-refresh{*/
    /*background:url('icons/mini_refresh.png') no-repeat center center;*/
/*}*/

/*.icon-large-picture{*/
    /*background:url('icons/large_picture.png') no-repeat center center;*/
/*}*/
/*.icon-large-clipart{*/
    /*background:url('icons/large_clipart.png') no-repeat center center;*/
/*}*/
/*.icon-large-shapes{*/
    /*background:url('icons/large_shapes.png') no-repeat center center;*/
/*}*/
/*.icon-large-smartart{*/
    /*background:url('icons/large_smartart.png') no-repeat center center;*/
/*}*/
/*.icon-large-chart{*/
    /*background:url('icons/large_chart.png') no-repeat center center;*/
/*}*/

/*1.4.1*/
/*.icon-blank{*/
    /*background:url('icons/blank.gif') no-repeat center center;*/
/*}*/
/*.icon-add{*/
    /*background:url('icons/edit_add.png') no-repeat center center;*/
/*}*/
/*.icon-edit{*/
    /*background:url('icons/pencil.png') no-repeat center center;*/
/*}*/
/*.icon-clear{*/
    /*background:url('icons/clear.png') no-repeat center center;*/
/*}*/
/*.icon-remove{*/
    /*background:url('icons/edit_remove.png') no-repeat center center;*/
/*}*/
/*.icon-save{*/
    /*background:url('icons/filesave.png') no-repeat center center;*/
/*}*/
/*.icon-cut{*/
    /*background:url('icons/cut.png') no-repeat center center;*/
/*}*/
/*.icon-ok{*/
    /*background:url('icons/ok.png') no-repeat center center;*/
/*}*/
/*.icon-no{*/
    /*background:url('icons/no.png') no-repeat center center;*/
/*}*/
/*.icon-cancel{*/
    /*background:url('icons/cancel.png') no-repeat center center;*/
/*}*/
/*.icon-reload{*/
    /*background:url('icons/reload.png') no-repeat center center;*/
/*}*/
/*.icon-search{*/
    /*background:url('icons/search.png') no-repeat center center;*/
/*}*/
/*.icon-print{*/
    /*background:url('icons/print.png') no-repeat center center;*/
/*}*/
/*.icon-help{*/
    /*background:url('icons/help.png') no-repeat center center;*/
/*}*/
/*.icon-undo{*/
    /*background:url('icons/undo.png') no-repeat center center;*/
/*}*/
/*.icon-redo{*/
    /*background:url('icons/redo.png') no-repeat center center;*/
/*}*/
/*.icon-back{*/
    /*background:url('icons/back.png') no-repeat center center;*/
/*}*/
/*.icon-sum{*/
    /*background:url('icons/sum.png') no-repeat center center;*/
/*}*/
/*.icon-tip{*/
    /*background:url('icons/tip.png') no-repeat center center;*/
/*}*/
/*.icon-filter{*/
    /*background:url('icons/filter.png') no-repeat center center;*/
/*}*/
/*.icon-man{*/
    /*background:url('icons/man.png') no-repeat center center;*/
/*}*/
/*.icon-lock{*/
    /*background:url('icons/lock.png') no-repeat center center;*/
/*}*/


/*.icon-mini-add{*/
    /*background:url('icons/mini_add.png') no-repeat center center;*/
/*}*/
/*.icon-mini-edit{*/
    /*background:url('icons/mini_edit.png') no-repeat center center;*/
/*}*/
/*.icon-mini-refresh{*/
    /*background:url('icons/mini_refresh.png') no-repeat center center;*/
/*}*/

/*.icon-large-picture{*/
    /*background:url('icons/large_picture.png') no-repeat center center;*/
/*}*/
/*.icon-large-clipart{*/
    /*background:url('icons/large_clipart.png') no-repeat center center;*/
/*}*/
/*.icon-large-shapes{*/
    /*background:url('icons/large_shapes.png') no-repeat center center;*/
/*}*/
/*.icon-large-smartart{*/
    /*background:url('icons/large_smartart.png') no-repeat center center;*/
/*}*/
/*.icon-large-chart{*/
    /*background:url('icons/large_chart.png') no-repeat center center;*/
/*}*/

/* 1.4.2 */
.icon-blank{
    background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
    background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
    background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
    background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
    background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
    background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
    background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
    background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
    background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
    background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
    background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
    background:url('icons/search.png') no-repeat center center;
}
.icon-print{
    background:url('icons/print.png') no-repeat center center;
}
.icon-help{
    background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
    background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
    background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
    background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
    background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
    background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
    background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
    background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
    background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
    background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
    background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
    background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
    background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
    background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
    background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
    background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
    background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
    background:url('icons/large_chart.png') no-repeat center center;
}






.icon-connection {
    background:url('icons/connect.png') no-repeat center center;
}
.icon-project{
     background:url('icons/project.png') no-repeat center center;
}
.icon-subject{
    background:url('icons/subject.png') no-repeat center center;
}
.icon-measure{
    background:url('icons/measure.png') no-repeat center center;
}
.icon-instance{
    background:url('icons/instance.png') no-repeat center center;
}
.icon-db{
    background:url('icons/database.png') no-repeat center center;
}
.icon-schema{
    background:url('icons/schema.png') no-repeat center center;
}
.icon-table{
    background:url('icons/table.png') no-repeat center center;
}
.icon-column{
    background:url('icons/column.png') no-repeat center center;
}
.icon-level{
    background:url('icons/level.png') no-repeat center center;
}
.icon-type{
    background:url('icons/type.png') no-repeat center center;
}
.icon-export{
    background:url('icons/export.png') no-repeat center center;
}
.icon-import{
    background:url('icons/import.png') no-repeat center center;
}
.icon-up{
    background:url('icons/up.png') no-repeat center center;
}
.icon-down{
    background:url('icons/down.png') no-repeat center center;
}
.icon-running{
    background:url('icons/running.gif') no-repeat center center;
}
.icon-run {
    background:url('icons/play.png') no-repeat center center;
}
.icon-waiting{
    background:url('icons/waiting.png') no-repeat center center;
}
.icon-loading{
    background:url('icons/loading.gif') no-repeat center center;
}
.icon-warning{
    background:url('icons/warning.png') no-repeat center center;
}
.icon-move{
    background:url('icons/move.png') no-repeat center center;
}
.icon-setting{
    background:url('icons/setting.png') no-repeat center center;
}
.icon-sql {
    background:url('icons/sql.png') no-repeat center center;
}
.icon-sql-opened {
    background:url('icons/sql-opened.png') no-repeat center center;
}
.icon-scheduled_tasks {
    background:url('icons/scheduled_tasks.png') no-repeat center center;
}
.icon-dispatch {
    background:url('icons/dispatch.png') no-repeat center center;
}
.icon-pointer {
    background:url('icons/pointer.png') no-repeat center center;
}
.icon-line {
    background:url('icons/line.png') no-repeat center center;
}
.icon-save-as {
    background:url('icons/save_as.png') no-repeat center center;
}
.icon-save-ex {
    background:url('icons/save-ex.png') no-repeat center center;
}
.icon-exit {
    background:url('icons/exit.png') no-repeat center center;
}
.icon-item {
    background:url('icons/item.png') no-repeat center center;
}
.icon-align-left {
    background:url('icons/align_left.png') no-repeat center center;
}
.icon-align-center {
    background:url('icons/align_center.png') no-repeat center center;
}
.icon-align-right {
    background:url('icons/align_right.png') no-repeat center center;
}
.icon-align-top {
    background:url('icons/align_top.png') no-repeat center center;
}
.icon-align-middle {
    background:url('icons/align_middle.png') no-repeat center center;
}
.icon-align-bottom {
    background:url('icons/align_bottom.png') no-repeat center center;
}
.icon-zoom_in {
    background:url('icons/zoom_in.png') no-repeat center center;
}
.icon-zoom_out {
    background:url('icons/zoom_out.png') no-repeat center center;
}
.icon-trash {
    background:url('icons/trash.png') no-repeat center center;
}
.icon-history {
    background:url('icons/history.png') no-repeat center center;
}
.icon-other {
    background:url('icons/other.png') no-repeat center center;
}
.icon-arrow-skip {
    background:url('icons/arrow-skip.png') no-repeat center center;
}
.icon-arrow-skip-d {
    background:url('icons/arrow-skip-d.png') no-repeat center center;
}
.icon-arrow-join {
    background:url('icons/arrow-join.png') no-repeat center center;
}
.icon-email {
    background:url('icons/email.png') no-repeat center center;
}
.icon-open {
    background:url('icons/open.png') no-repeat center center;
}
.icon-public-folder {
    background:url('icons/public_folder.png') no-repeat center center;
}
.icon-user {
    background:url('icons/user.png') no-repeat center center;
}
.icon-new {
     background:url('icons/new.png') no-repeat center center;
 }
.icon-format-indent {
    background:url('icons/format_indent.png') no-repeat center center;
}
.icon-folder_fav {
    background:url('icons/folder_fav.png') no-repeat center center;
}
.icon-menu {
    background:url('icons/menu.png') no-repeat center center;
}
.icon-stop {
    background:url('icons/stop.png') no-repeat center center;
}
.icon-share {
    background:url('icons/share.png') no-repeat center center;
}
.icon-organization {
    background:url('icons/organization.png') no-repeat center center;
}
.icon-home {
	background:url('icons/home.png') no-repeat center center;
}

